body{
    background-color: dimgrey;
    margin: 0px;
    padding: 0px;
}

/* typography */
h1{
    font-size: 80px;
    color: aliceblue;
    font-style: italic;
    font-family: 'Archivo Narrow', sans-serif;
}

p{
    font-size: 30px;
    color: aliceblue;
    line-height: 40px;
    font-family: 'Archivo Narrow', sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: black;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.buttons-links {
    border-style: solid;
    border-color: crimson;
    background-color: cornsilk;
    border-width: 2px; 
    text-decoration: none;
    color:black;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.button-alert {
    border-style: solid;
    border-color: cadetblue;
    background-color:cadetblue;
    border-width: 2px;
    text-decoration: none;
    color:black;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.top-banner{
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color: cornflowerblue;
    background-image: url("https://www.awn.com/sites/default/files/styles/original/public/image/featured/1049095-blur-studio-taps-v-ray-netflixs-new-nsfw-love-death-robots-short-film-anthology.jpg?itok=99pGFkdW");
    background-size: cover;
    background-attachment: fixed;
}

.main-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

}


.list-buttons{
    border-style: solid;
    border-color:aliceblue;
    background-color: cornflowerblue;
    border-width: 0.5px;
    text-decoration: none;
    color:aliceblue;
    padding: 4px;
    border-radius: 20px;
    display: inline;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.list-nav{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 800px;
}

.list-nav li{
    display: inline;
}

.list-nav li a{
    color: aliceblue;
    text-decoration: none;
    margin: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

footer{
    height: 40px;
    padding: 10px 0px;
    background-color: darkcyan;
}