body{
    background-color: azure;
}

/* typography */
h1{
    font-size: 60px;
    color:blueviolet;
    font-style: italic;
    font-family: 'Lobster Two', cursive;
}

p{
    font-size: 16px;
    color:darksalmon;
    line-height: 30px;
    font-family: 'Archivo Narrow', sans-serif;
}

.buttons-links {
    border-style: solid;
    border-color: crimson;
    background-color: cornsilk;
    border-width: 2px; 
    text-decoration: none;
    color:black;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.button-alert {
    border-style: solid;
    border-color: cadetblue;
    background-color:cadetblue;
    border-width: 2px;
    text-decoration: none;
    color:black;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}